/* Styling goes in this file */

body {
	font-family: "Arial";
}

.centered {
	text-align: center;
}

table {
    border-collapse:collapse;
}

td
{
    border: solid 1px;
    border-color: lightgray;
    border-left: none;
    border-right: none;

}

.centered-2 {
    text-align: center;
    font-size: 24px;
}

.sources {
    text-align: left;
    font-size: 14px;
    font-style: normal;
}