/* Styling goes in this file */

body {
	font-family: "Arial";
}

.centered {
	text-align: center;
}

table {
    border-collapse:collapse;
}

td {
    border: solid 1px;
    border-color: lightgray;
    border-left: none;
    border-right: none;
}

.container {
    display: flex;
    align-items: center;
}

rect {
  fill: green;
  width: 80px;
  height: 40px;
  stroke: black;
  stroke-width: 3px;
}

rect:hover {
  fill: red;
  stroke: darkgray;
  stroke-width: 3px;
}

circle {
    fill: green;
    opacity: 50%;
}

circle:hover {
  stroke: black;
  stroke-width: 3px;
}

.Acknowledgements {
    text-align: center;
    font-size: 24px;
}

.sources {
    text-align: left;
    font-size: 14px;
    font-style: normal;
}